li {
    color: blue;
    font-style: italic;
}

#title {
    text-align: center;
    font-style: italic;
    font-size: 3.5em;
    color: crimson;
}

.row {
    position: absolute;
    top:150px;
    left:50px;
    width: 300px;
}
.Info {
    position: absolute;
    top: -20px;
    left: 400px;
    width: 500px;
}